  <HTML>
    <HEAD>
      <TITLE>Password reset request</TITLE>
    </HEAD>

    <BODY>
      <h4>WelCome To Template</h4>
      <hr/>
     		 <a href="https://localhost:8080/template/resetPassword?key==$passwordResetKey">Click Here</a> 
     		 <br/>to reset your password.
    </BODY>
  </HTML>